* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
}

header a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
  font-weight: 800;
}


h2 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

h3 {
  font-weight: 700;
}
headera{
  text-decoration: none;
  color: inherit;
}

.col-33 h3 {
  margin-bottom: 20px;
}

.bordered p {
  margin-bottom: 20px;
}

.col-33 hr {
  width: 20%;
  margin: 40px auto 50px 0px;
}

/*----------------------------------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sm-container {
  max-width: 1000px;
  margin: 0 auto;
}


header li:not(.logo) {
  padding: 20px;
}


section {
  padding-top: 150px;
}

footer {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: black;
  color: white;
}

.button {
  background-color: rgb(0, 97, 254);
  color: white;
  padding: 8px 10px;
  cursor: pointer;
}

.partner .button {
  border: 1px solid black;
  background-color: white;
  color: black;
}

/*hovers*/
.partner.button,
.button:hover {
  background-color: rgb(142, 179, 247);
}
a:hover{
  color:rgb(47, 47, 248) ;
}

.bordered [class*="fa-check"] {
  color: blue;
}

/*-------------------------- utilities----------------------*/
.d-flex {
  display: flex;
}

.bg-blue {
  background-color: rgb(180, 208, 230);
  ;
}

.w-100 {
  width: 100%;
}

.pd-20 {
  padding: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-150 {
  margin-top: 150px;
}


.inline-block {
  display: inline-block;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vertical-align {
  vertical-align: middle;
}

.align-end {
  text-align: end;
}

.mr-50 {
  margin-right: 50px;
}


/*-------------------------- content----------------------*/
/*header*/
header {
  justify-content: space-between;
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo {
  vertical-align: middle;
}


/*colonne jumbotron*/

.text-col {
  width: 30%;
}

.img-col {
  width: 70%;
}



.download {
  font-size: 3em;
  padding-top: 40px;
}

/*relative class*/
.relative {
  position: relative;
  top: 80px;
}

/*fatturazioni*/
.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 1px;
  border: 1px solid rgb(211, 211, 211);
}

.monthly-invoice .circle {
  border: 5px solid rgb(9, 66, 253);
}

/*1 riga e 4 colonne */
.row {
  flex-wrap: wrap;
  gap: 50px;
}


.col-33 {
  width: calc(100%/3 - 50px);
}


.col-100 {
  width: calc(100% - 50px);
}

.bordered [class*="col"] {
  border: 1px solid lightgray;
}

.key-points li:first-child {
  font-weight: bold;
  font-size: 0.9em;
}

.info {
  padding: 0px 20px;
}

.bordered .button {
  width: 240px;
  text-align: center;
}

.col-33 .button {
  margin: 0;
}



/*contenuto prima colonna*/
.category {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
}



.col-33 li {
  margin-bottom: 20px;
}

/*una riga e 6 colonne*/

.col-33 img {
  width: 100%;
}

/*footer*/
.footer-col {
  width: calc(100%/5);
}

footer li {
  padding: 10px 0px;
  font-size: 0.7em;
}

footer li:first-child {
  font-size: 1em;
  font-weight: bold;
}

footer hr {
  margin: 60px 0px 30px 0px;
  width: 85px;
}