* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
}



header a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

h3{
  padding: 70px 0px 20px 0px;
}
p {
  margin-bottom: 20px;
}

.col-33 hr {
  width: 20%;
  margin: 40px auto 50px 0px;
}


/*---------------------------------------------------------*/
.container {
  max-width: 850px;
  margin: 0 auto;
}

.sm-container {
  max-width: 750px;
  margin: 0 auto;
}


header li:not(.logo) {
  padding: 20px;
}


section {
  padding-top: 150px;
}

.blue-button {
  background-color: rgb(0, 97, 254);
  color: white;
  padding: 8px 10px;
  margin-right: 15px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: rgb(99, 148, 240);
}

/*-------------------------- utilities----------------------*/
.d-flex {
  display: flex;
}

.bg-blue {
  background-color: rgb(180, 208, 230);
  ;
}

.w-100 {
  width: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}


.inline-block {
  display: inline-block;
}

.vertical-align {
  vertical-align: middle;
}

.align-end {
  text-align: end;
}

.mr-50 {
  margin-right: 50px;
}
.grey-border{
  border: 1px solid lightgray;
}



/*-------------------------- content----------------------*/
/*header*/
header {
  justify-content: space-between;
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo {
  vertical-align: middle;
}


/*colonne jumbotron*/

.text-col {
  width: 30%
}

.img-col {
  width: 70%;
}

.download {
  font-size: 3em;
  padding-top: 40px;
}

/*relative class*/
.relative {
  position: relative;
  top: 80px;
}

/*fatturazioni*/
.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 1px;
  border: 1px solid rgb(211, 211, 211);
}

.monthly-invoice .circle {
  border: 5px solid rgb(9, 66, 253);
}

/*4 colonne */
.row {
  flex-wrap: wrap;
  gap: 15px;
}

.col-33 {
  position: relative;
  width: calc(750px/3 - 15px);
}
  



.col-100 {
  position: relative;
  width: calc(100% - 15px);
  border: 1px solid lightgrey;
}


/*contenuto prima colonna*/
.category {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

.col-33 li {
  margin-bottom: 20px;
}
/*una riga e 6 colonne*/

.col-33 img{
  width: 100%;
}




/*----------------debug----------------------*/
.h-500-orange{
  height: 500px;
  background-color: orange;
}